err
out
fasta-split
tmp.sh
.*
*.fa
*.aln
*.sam
taxoner-out
count-out/
current_size
fasta/
files-to-process
krona-out/
read-out/
sam-files
sams-to-process
scripts/workers/1make-fastaDB.sh
scripts/workers/2make-fastaDB.sh
scripts/workers/3make-fastaDB.sh
scripts/workers/4make-fastaDB.sh
scripts/workers/DNA_1_taxa_to_count.txt
scripts/workers/DNA_2_taxa_to_count.txt
scripts/workers/DNA_3_taxa_to_count.txt
scripts/workers/DNA_4_taxa_to_count.txt
scripts/workers/ncbi-taxoner-results-files
search_test/
split-files
taxa_files
test-search.sh
